form {
    input[type=text],
    input[type=email],
    input[type=tel],
    textarea,
    select {
        width: 100%;
        padding: 30px 15px 30px 60px;
        border: 0;
        border-radius: 5px;
        margin-bottom: 10px;
        border-radius: 0;
        box-shadow: inset 0px 7px 16px 0px rgba(0, 0, 0, 0.13);
        font-size: 1rem;
        line-height: 1;
        background-color: white;

        &:-internal-autofill-selected {
            background-color: $white !important;
            background-image: none !important;
            color: -internal-light-dark-color(black, white) !important;
        }
    }
    input[type=submit],
    input[type=button] {
        max-width: 100%;
    }

    textarea {
        height: 120px !important;
    }

    select {
        appearance: none;
    }

    label {
        position: relative;
        width: 100%;
        margin-bottom: 0;
        line-height: 1;
        &.error {
            display: block;
            margin-bottom: 20px;
            margin-top: -10px;
            color: red;
            font-size: 1.9rem;
        }
        .icon {
            position: absolute;
            top: 0;
            left: 20px;
            width: 25px;
            height: 25px;
            z-index: 999;
            margin: auto;
            i {
                font-family: 'Font Awesome 5 Free';
                font-size: 1.5rem;
                line-height: 1;
                font-style: normal;
                color: $primary;
            }
        }
    }
}