section {
    position: relative;
    padding: 60px 0px;
    @include media-breakpoint-up(md) {
        padding: 80px 0px;
    }
    @include media-breakpoint-up(lg) {
        padding: 120px 0px;
    }

    &.hero {
        padding: 80px 0 200px;
        .background-image-container img {
            object-position: left top;
        }
        @include media-breakpoint-up(md) {
            padding: 150px 0 200px;
            .background-image-container img {
                object-position: center top;
            }
        }
        .thankyou-page & {
            min-height: 95vh;
        }
    }
    &.seen-in-band {
        bottom: 0;
        padding: 30px 0;
        h4 {
            font-weight: bold;
        }
        @include media-breakpoint-up(md) {
            padding: 50px 0;
        }
    }
}

footer {
    p {
        line-height: 1;
    }
}