// --------------------
// Include Fonts Here
// --------------------
@font-face {
  font-family: 'Montserrat ExtraBold';
  src: url('https://d2saw6je89goi1.cloudfront.net/uploads/digital_asset/file/720671/Montserrat-ExtraBold.woff');
  font-weight: bolder;
  font-style: normal;
}

$header-font: "Playfair Display", Helvetica, sans-serif;
$body-font: 'Montserrat', Helvetica, sans-serif;

// --------------------
//  Include Basic Typography
// --------------------

:root,
html,
body {
    font-size: 16px;
    @include media-breakpoint-up(md) {
        font-size: 17px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 19px;
    }
}
html, body {
    margin: 0;
    overflow-x: hidden;
    color: $body-colour;
    &.scroll-lock {
        max-height: 100%;
        overflow-y: hidden;
    }
}
* {
    line-height: 1.5;
    box-sizing: border-box;
    font-family: $body-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
    color: $header-colour;
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 24px;
    letter-spacing: 1px;
}
h1, .h1, h2, .h2 {
    font-family: $header-font;
    text-transform: capitalize;
}
h1, h2, h3 {
    font-weight: bold;
}
h4, h5 {
    font-weight: normal;
}
h1, .h1 {
    font-size: 2.1rem;
    @include media-breakpoint-up(md) {
        font-size: 2.4rem;
    }
}
h2, .h2 {
    font-size: 1.6rem;
    @include media-breakpoint-up(md) {
        font-size: 2.2rem;
    }
}
h3, .h3 {
    font-size: 1.5rem;
}
h4, .h4 {
    font-size: 1.1rem;
}
h5, .h5 {
    font-size: .8rem;
}

// Hero Specific Font Sizes
.eyebrow {
    text-transform: uppercase;
    letter-spacing: 0;
}
.subheadline {
    font-size: 1.1rem;
    opacity: .7;
}